<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Pokemon Battle</title>
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js" defer></script>
</head>
<body>
  <div id="app">
    <div id="cartasMachine">
      <div id="totalMachine">0</div>
      <div id="machineCards">
        <div id="cartasMaquina"></div>
        <div id="cartasMaquina"></div>
        <div id="cartasMaquina"></div>
        <div id="cartasMaquina"></div>
        <div id="cartasMaquina"></div>
      </div>
    </div>

    <div id="main">
      <div id="campoBatalla">
        <div id="jugadaMachine">
          <div class="pokemonContainer">
            <div class="health-bar">
              <img class="health-icon" src="./img/vida.png" alt="Vida" />
              <!-- Se actualiza la barra de salud con el porcentaje calculado -->
              <div class="health-fill" :style="{ width: machineHealthPercentage }"></div>
            </div>
            <div class="imagenGrande">
              <img v-if="jugadaMachine" :src="jugadaMachine.image" :alt="jugadaMachine.name">
            </div>
            <div class="statsContainer" v-if="statsMachine">
              <!-- Se muestra el HP actual en vez del valor base -->
              <div class="stat"><img src="./img/salud.png" alt="Vida"> {{ machineCurrentHP }}</div>
              <div class="stat"><img src="./img/escudo.png" alt="Defensa"> {{ statsMachine.attack }}</div>
              <div class="stat"><img src="./img/rapideza.png" alt="Velocidad"> {{ statsMachine.speed }}</div>
            </div>
          </div>
        </div>
      
        <div id="vs">VS</div>
      
        <div id="jugadaPlayer">
          <div class="pokemonContainer">
            <div class="health-bar">
              <img class="health-icon" src="./img/vida.png" alt="Vida" />
              <!-- Barra de salud del jugador -->
              <div class="health-fill" :style="{ width: playerHealthPercentage }"></div>
            </div>
            <div class="imagenGrande">
              <img v-if="jugadaPlayer" :src="jugadaPlayer.image" :alt="jugadaPlayer.name">
            </div>
            <div class="statsContainer" v-if="statsPlayer">
              <div class="stat"><img src="./img/salud.png" alt="Vida"> {{ playerCurrentHP }}</div>
              <div class="stat"><img src="./img/escudo.png" alt="Defensa"> {{ statsPlayer.attack }}</div>
              <div class="stat"><img src="./img/rapideza.png" alt="Velocidad"> {{ statsPlayer.speed }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="cartasPlayer">
      <div id="totalPlayer">0</div>
      <div id="playerCards">
        <div id="cartaJugador" 
            v-for="(pokemon, index) in pokemonNames" 
            :key="index" 
            @click="seleccionarCarta(pokemon)"
            :class="['cartaJugador', { 
            'carta-seleccionada': pokemon.selected && !pokemon.defeated, 
            'carta-eliminada': pokemon.defeated 
            }]">
            <div class="textoJugador">
                <img :src="pokemon.image" alt="Pokemon Image">
                <p v-if="!pokemon.selected">{{ pokemon.name }}</p>
            </div>
        </div>

      </div>
    </div>
    
    <!-- Se reemplaza la "x" por los botones de ataque (habilitados cuando ya se eligió el Pokémon) -->
    <div id="cartel" v-if="jugadaPlayer">
      <button v-for="(move, index) in playerMoves" 
              :key="index" 
              class="attack-button"
              @click="attack(move)"
              :disabled="gameOver">
        {{ move }}
      </button>
    </div>
    
  </div>
  
</body>
</html>
