#listado1{
    border-radius: 30px;
    height: left;
    width: 500px;
    background-color: rgb(37, 143, 236);
    float: right;
}
#listado2{
    border-radius: 30px;
    margin-top: 30px;
    float: left;
    height: auto;
    width: 500px;
    background-color: rgb(236, 206, 37);
}