body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.tile {
    width: 60px;
    height: 60px;
    background-color: #d3d6da;
    border: 2px solid #878a8c;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: #333;
}

/* Teclado */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.keyboard .row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* Botones de teclado */
.key {
    width: 60px; /* Ancho aumentado */
    height: 60px; /* Alto aumentado */
    background-color: #d3d6da;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/* Ajuste para los botones especiales */
.enter-key {
    width: 130px; /* Aumentar el ancho para el botón Enter */
}

.backspace-key {
    width: 130px; /* Aumentar el ancho para el botón Backspace */
}

.key:active {
    background-color: #a3a6aa;
}

/* Margen para el teclado */
.first-row, .second-row, .third-row {
    margin: 0 10px;
}
